<div class="container">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel [selected]="tabSelected === 0">
            <ng-template pTemplate = "header">
                <i class="pi pi-pencil"></i>
                <span>Registrar Servicio</span>
            </ng-template>
            <app-service-form *ngIf="tabSelected === 0"></app-service-form>
        </p-tabPanel>
        <p-tabPanel [selected]="tabSelected === 1">
            <ng-template pTemplate = "header">
                <i class="pi pi-user"></i>
                <span>Calcular Horas</span>
            </ng-template>
            <app-service-form2 *ngIf="tabSelected === 0"></app-service-form2>
        </p-tabPanel>
    </p-tabView>
</div>
